Web/Service References/NganLuongService/public_api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="NS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="NS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="NS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkOrderRequest">
    <wsdl:part name="merchant_id" type="xsd:string" />
    <wsdl:part name="param" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkOrderResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkOrder_v2Request">
    <wsdl:part name="merchant_id" type="xsd:string" />
    <wsdl:part name="param" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkOrder_v2Response">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="NGANLUONG_APIPortType">
    <wsdl:operation name="checkOrder">
      <wsdl:input message="tns:checkOrderRequest" />
      <wsdl:output message="tns:checkOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkOrder_v2">
      <wsdl:input message="tns:checkOrder_v2Request" />
      <wsdl:output message="tns:checkOrder_v2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NGANLUONG_APIBinding" type="tns:NGANLUONG_APIPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="checkOrder">
      <soap:operation soapAction="http://www.nganluong.vn/public_api.php/checkOrder" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkOrder_v2">
      <soap:operation soapAction="http://www.nganluong.vn/public_api.php/checkOrder_v2" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NGANLUONG_API">
    <wsdl:port name="NGANLUONG_APIPort" binding="tns:NGANLUONG_APIBinding">
      <soap:address location="http://www.nganluong.vn/public_api.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>